<Root>
	<remap name="change_fire_mode" key="kb.PERIOD" />
	<remap name="change_seat" key="kb.PAGEUP" />
	<remap name="change_type_of_ammo" key="kb.COMMA" />
	<remap name="crouch" key="kb.LSHIFT" />
	<remap name="descend" key="kb.LCONTROL" />
	<remap name="enter_exit_helicopter" key="kb.ENTER" />
	<remap name="enter_exit_plane" key="kb.ENTER" />
	<remap name="enter_exit_vehicle" key="kb.ENTER" />
	<remap name="heal" key="kb.L" />
	<remap name="helico_accelerate" key="kb.UP" />
	<remap name="helico_move_backward" key="kb.DOWN" />
	<remap name="helico_special_shoot" key="kb.SLASH" />
	<remap name="helico_steer_left" key="kb.LEFT" />
	<remap name="helico_steer_right" key="kb.RIGHT" />
	<remap name="helico_switch_weapon" key="kb.PAGEDOWN" />
	<remap name="horn" key="kb.END" />
	<remap name="interact" key="kb.ENTER" />
	<remap name="move_back" key="kb.DOWN" />
	<remap name="move_forward" key="kb.UP" />
	<remap name="move_left" key="kb.LEFT" />
	<remap name="move_right" key="kb.RIGHT" />
	<remap name="plane_decelerate" key="kb.LCONTROL" />
	<remap name="plane_pitch_down" key="kb.DOWN" />
	<remap name="plane_pitch_up" key="kb.UP" />
	<remap name="plane_roll_left" key="kb.LEFT" />
	<remap name="plane_roll_right" key="kb.RIGHT" />
	<remap name="plane_switch_weapon" key="kb.PAGEDOWN" />
	<remap name="radio_toggle" key="kb.R" />
	<remap name="reload" key="kb.NUMPAD0" />
	<remap name="repair_tool" key="kb.R" />
	<remap name="select_wheel_slot0" key="kb.NUMPAD1" />
	<remap name="select_wheel_slot1" key="kb.NUMPAD2" />
	<remap name="select_wheel_slot2" key="kb.NUMPAD3" />
	<remap name="select_wheel_slot3" key="kb.NUMPAD4" />
	<remap name="sprint" key="kb.DELETE" />
	<remap name="takedown_carry_body" key="kb.PAGEDOWN" />
	<remap name="throw_rock" key="kb.P" />
	<remap name="vehicle_move_backward" key="kb.DOWN" />
	<remap name="vehicle_move_forward" key="kb.UP" />
	<remap name="vehicle_move_left" key="kb.LEFT" />
	<remap name="vehicle_move_right" key="kb.RIGHT" />
	<remap name="vehicle_switch_weapon" key="kb.PAGEDOWN" />
</Root>
